body{
  background-color: aqua;
}
.App{
  background-color: aliceblue;
  height: 420px;
  width: 350px;
  margin: auto;
  border-radius: 15px;
}
.inputs{
  margin: 25px;
}
.inputs p{
  color:rgb(158, 27, 218); 
  font-size: 20px;
}
input{
  width: 100%;
  height: 30px;
}
h2{
  
  text-align: center;
  color: rgb(153, 6, 222);
}
.output{
  text-align: center;
  color: rgb(115, 13, 209);
  font-size: 20px;
}
span{
  color: rgb(223, 8, 198);
}
